/*  --- AJUSTA A TU GUSTO ---  */
:root{
  --ancho: 420px;
  --alto : 480px;
  --duracion: .6s;
  --bg-body: #f2f2f2;
  --bg-page: #ffffff;
}

*{box-sizing: border-box;margin:0;padding:0}

body{
  background:url('../img/fondo.jpg');
  display:flex;justify-content:center;align-items:center;
  height:100vh;font-family:Georgia,serif;
}

/* CONTENEDOR */
#book{
  position:relative; 
  text-align: center;
  width:var(--ancho);height:var(--alto);
  overflow:hidden;
  box-shadow:0 6px 18px #0004;
  border-radius:6px;
}

/* CADA PÁGINA */
.page{
  position:absolute;top:0;left:0;
  width:100%;height:100%;
  background:var(--bg-page);
  padding:24px;
  display:flex;flex-direction:column;justify-content:center;align-items:center;
  transition:transform var(--duracion) ease;
}
.page.hard{font-weight:bold;font-size:1.6rem;background:#e8e8e8; text-align: center;}


/* BOTONES */
button#prev,button#next{
  position:fixed;bottom:20px;
  width:46px;height:46px;border:none;border-radius:50%;
  font-size:1.6rem;line-height:1;cursor:pointer;
  background:#fff;box-shadow:0 2px 6px #0003;
  transition:transform .15s;
}
button#prev{left:20px}  button#next{right:20px}
button:hover{transform:scale(1.12)} button:active{transform:scale(.92)}

.page img{
  max-width:100%;
  max-height:100%;
  object-fit:contain;   /* usa 'cover' si prefieres que la recorte y llene */
  margin-bottom:12px;   /* opcional: deja un margen bajo la imagen */
}

.page video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px #0005;
}


.img-23{
  max-width: auto;
  height: 90%;
} 

.img-32{
  max-width: auto;
  height: 90%;
} 

.img-33{
  max-width: auto;
  height: 90%;
} 

